.Header {
    font-family: comfortaa, cursive;
    background-color: #00a6e5;
    background-position: bottom; 
    background-repeat: no-repeat;
    background-image: url('../Asset/FotoProfile.jpg');
    padding-bottom: 10px;
    height: 620px;
}

.three-icon  a {
    margin-right: 2%;
    color: #ffffff;
}

.intro {
    margin-top: 1%;
    padding-right: 4%;
    color: white;
}

span {
    font-size: 40%; 
    background-color: white;
    color: #00a6e5;
}

.icon-minus {
    font-size: 70px; 
    color: white;
}

.three-icon {
    padding-top: 5%; 
    font-size: 25px;
}


.three-icon > i:last-child {
    font-size: 27px;
}

.aboutDesc {
    padding-top: 20vh; 
    text-align: right; 
    padding-left: 40vh;
    color: white;
}

.name {
    font-size : 60px;
}

.CVbutton {
    background-color: #00a6e5;
    border-color: #ffffff;
    border-radius: 10px;
    margin-right: 50px;
    font-size: medium;
    color: #ffffff;
    padding: 5px;
}


/* @media screen and (max-width: 999px) {
    .Header, .intro, .aboutDesc {
      width: 100%;
    }
  } */