.Navigation {
    padding-top: 3%; 
    font-family: comfortaa, cursive;
    background-color: transparent;
    padding-right: 3%;
    padding-left: 3%;
}


.Navigation .fontNav {
    color: #ffffff;

}
