.Skill {
    font-family: comfortaa, cursive;
    background-color: white;
    color: #00a6e5;
}

.Skill p {
    padding-top: 3%; 
    padding-bottom: 3%; 
    padding-left: 3%;
    padding-right: 3%; 
    margin-bottom: 0%; 
    font-size: 100px; 
    text-align: center;
}

.Skill p i:not(:last-child) {
    padding-right: 30px;
    padding-left: 30px;
}


.Skill h2 {
    padding-top: 3%; 
    padding-left: 3%;
    padding-right: 3%; 
    margin-bottom: 0%; 
}

